<svg onload='o(event)' xmlns='http://www.w3.org/2000/svg'><script>//<![CDATA[
HERE
const o=(e)=>(onhashchange=()=>lsystemSvg(decodeURIComponent(location.href.split(/[?#]/)[1])||'S=AX,A=[+AX-AX-AX]-AX+AX+AX-,F=,X=F+F+F+FFF-F-F-F,_a=60,_n=3',e.target))();
//]]></script></svg>