* {
    box-sizing: border-box;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    font-family: monospace;
    font-weight: 800;
}

body {
    --bd: #222;
    --bg: #111;
    --bg2: #ffffff09;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #0fe7;
    overflow: hidden;
    touch-action: none;
    font-weight: bold;
    user-select: none;
    max-height: 840px;
    background-color: var(--bg);
    background-image:
        repeating-linear-gradient(1.5deg, var(--bg2) 0, var(--bg2) 1px, transparent 1px, transparent 10px),
        repeating-linear-gradient(0deg, var(--bg2) 0, var(--bg2) 1px, transparent 1px, transparent 16.18034px);

}

.container {
    max-width: 420px;
    margin: auto;
    padding: 0.1rem 1rem;
}

h1 {
    font-size: 24px;
}

h2 {
    display: none;
    font-size: 12px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

[title]::after {
    content: attr(title);
    font-size: x-small;
    display: block;
}

.flex div {
    flex: 1;
    font-size: 28px;
}

#board {
    overflow: hidden;
    background: var(--bg);
    border-radius: .32rem;
    border: solid .16rem var(--bd);
    margin-left: -.16rem;
    box-sizing: content-box;
}

#board>div {
    float: left;
}

#board>div,
.first,
.second {
    aspect-ratio: 1 / 1;
    background-color: var(--bg);
    border: .16rem solid var(--bd);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAAgBAMAAABnUW7GAAAAHlBMVEVDnCb6gTj7FxZAUPuMd/jrGPOLtU/6Qjr7zD79TPxbwGOhAAABHUlEQVR4Xu3VPQ6EIBCGYSv67axpOIDeQK5AQWfFAWyo6bwAxdx2ifL5M3EJbix9je2T0THYdCzJaliG9WE9B77g8CzYa63LoHC3QL00bKD3Uio/7eCYwLEe7PUaQJ9S6d5A50S6xh0kY2w8gaEI5qYdTB1AS9EQHcF2LoDKo18gEVmieADnOdwAnVhAMWbQ0tr/YA4g5eIKtnNoE5hQgF0ZFA6toCUEEFUshYPXE6J/t0zsHcILAHVuYKC8nhBirAZVGcSaDQc/HNQZlHjiyy1jxLiBLQP7Msi/Q4xoAGLE8BtUeOKLpWDEWA1ixKkEWjqdNvAAsqWk4F2fNql4Atu8EraUbgeVlwdQjMI17s55uIw5VJ3Yz/+kXvAFv812FIapNoPhAAAAAElFTkSuQmCC');
}

.first,
.second {
    border: .32rem solid var(--bd);
    border-radius: .32rem;
}

#points {
    position: absolute;
    display: none;
    color: #fff;
    z-index: 999;
    text-shadow: 0 0 5px #000, 0 0 10px #000;
    font-size: 34px;
    text-align: center;
}

#pieces {
    display: flex;
    justify-content: center;
}

#piece {
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    box-sizing: content-box;
    cursor: grab;
}

.second {
    position: absolute;
    width: 100%;
}

.horizontal {
    margin-top: -30px;
}

.vertical {
    margin-top: 20px;
}

.horizontal div span {
    top: 0px;
    left: calc(100% - 4px);
}

.vertical div span {
    top: calc(-100% + 4px);
    left: 0px;
}

.highlight {
    filter: brightness(190%);
}

#gameover {
    margin-top: 30px;
    border-bottom: 80px solid transparent;
}

#restart {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: lightblue;
    border: none;
    border-radius: .2rem;
}

.ui-draggable-dragging {
    cursor: grabbing !important;
}

.hidden {
    display: none !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
    z-index: 999;
}

.modalinner {
    width: 90%;
    max-width: 425px;
    margin: auto;
    margin-top: 160px;
    max-height: 420px;
    padding: 20px;
    color: #000;
    background: #fff;
    position: relative;
    text-align: left;
    border-radius: 0;
    font-size: 18px;
    user-select: text;
}

.modal .close {
    float: right;
    position: sticky;
    top: -20px;
    cursor: pointer;
    padding: 20px;
    margin-top: -20px;
    margin-right: -20px;
    font-size: 24px;
    margin-bottom: -42px;
}

.togglemodal {
    cursor: pointer;
}

table {
    width: 100%;
}

td {
    padding-bottom: 10px;
}

.togglemodal div div:hover {
    color: #ee38;
}